.counter {
    min-width: 8rem;
    @include flex();
    border-radius: 0.5rem;
    border: 2px solid $black-color;
    overflow: hidden;
    width: fit-content;
    &__controller {
        cursor: pointer;
        font-weight: bold;
        color: $white-color;
        background: $black-color;
        padding: 0.1em 0.6em;
    }
    &__value {
        flex-grow: 1;
        text-align: center;
        padding: 0.1em 1em;
    }
}
