.hero {
    position: relative;
    &__labels {
        color: $white-color;
        font-style: italic;
        .front,
        .rear {
            font-size: 1.5rem;
            background: $black-color;
            position: absolute;
            left: 0;
            border-radius: 0 0.8rem 0.8rem 0;
            bottom: 10%;
            min-width: 50%;
            padding: 1em 2em;
            box-shadow: 0 0 1rem 0 rgba($color: $black-color, $alpha: 0.25);
            text-align: center;
        }
        .rear {
            display: none;
            border-radius: 0.8rem 0 0 0.8rem;
        }
    }
    &__preview {
        img {
            object-fit: cover;
            height: MAX(30rem, 50vmin);
        }
    }
    &__content {
        .title {
            font-size: 3rem;
            font-family: $sub-font;
            font-weight: 800;
            margin-top: 0;
            line-height: 1;
        }
        .subtitle {
            font-size: 1rem;
            font-weight: 300;
            text-transform: capitalize;
        }
        .description {
            margin-top: 1em;
        }
        .cta {
            font-size: 1.8rem;
            max-width: 20rem;
            margin-top: 1em;
        }
    }
}
@include responsive($break-point-lg) {
    .hero {
        padding: 5vmin 0;
        .container {
            @include flex(space-between, row);
            gap: 5%;
        }
        &__labels {
            .front,
            .rear {
                min-width: 30rem;
            }
            .rear {
                display: initial;
                left: unset;
                right: 0;
                bottom: 20%;
            }
            .front {
                bottom: unset;
                top: 10%;
            }
        }
        &__preview {
            @include size(40%);
            img {
                height: unset;
            }
        }
        &__content {
            .title {
                font-size: 4rem;
            }
            .subtitle {
                font-size: 1.2rem;
            }
            .description {
                max-width: 40rem;
            }
            .cta {
                font-size: 2rem;
            }
        }
    }
}
