.nav {
    position: relative;
    background: $white-color;
    z-index: $float-layer;
    .container {
        @include flex(space-between, row);
    }
    &__right {
        cursor: pointer;
        .img {
            width: 10rem;
        }
    }
    &___left {
    }
}
