.nav {
    position: relative;
    @include flex(space-between, row);
    background: $white-color;
    z-index: $float-layer;
    &__right {
        .img {
            width: 10rem;
        }
    }
    &___left {
    }
}
