.nav__left--mobile {
    &[data-show-menu="false"] {
        .menu-content {
            transform: translateY(-100%);
            opacity: 0;
        }
    }
    &[data-dark-mode="true"] {
        .toggle-dark-mode {
            background: $main-color;
            border-radius: 0.5rem;
            padding: 0.3rem;
        }
    }
    @include flex();
    gap: 1rem;
    padding: 1.5rem 0;
    .icon {
        width: 3rem;
        &.toggle-dark-mode {
            transition: 0.2s ease;
        }
    }
    .menu-content {
        z-index: -1;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        transition: 0.3s ease;
    }
    .search-bar {
        width: 80%;
        margin: 1em auto;
        border: 2px solid $black-color;
        border-radius: 0.5rem;
        padding: 0.5em 1em;
        @include flex(center, row);
        input {
            color: $main-color;
        }
    }
    .nav__list {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        li {
            margin-bottom: 0.5em;
        }
    }
}
