.nav-mobile {
    @include flex();
    gap: 1rem;
    padding: 1.5rem 0;
    .cart {
        position: relative;
    }
    &[data-show-menu="false"] {
        .menu-content {
            transform: translateY(-100%);
            opacity: 0;
        }
    }
    .icon {
        cursor: pointer;
        width: 3rem;
    }
    .menu-content {
        background: $white-color;
        z-index: -1;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        transition: 0.3s ease;
        padding: 2rem 0;
        border-bottom: 5px solid rgba($color: $black-color, $alpha: 0.25);
    }
    .nav__list {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: $main-color;
        li {
            text-transform: capitalize;
            cursor: pointer;
            margin-top: 0.5em;
        }
    }
    .account-panel {
        .button {
            margin-top: 1em;
            margin-left: auto;
            margin-right: auto;
            width: MIN(15rem, 80%);
        }
        .account {
            margin-top: 1em;
            @include flex();
            gap: 0.5em;
            font-weight: bold;
            .display-name {
                flex-grow: 1;
                margin-left: 0.5em;
            }
            .avatar {
                overflow: hidden;
                border-radius: 0.5rem;
            }
        }
    }
}
