.pagination {
    margin-top: 3rem;
    @include flex();
    gap: 2rem;
    .controller {
        background: $black-color;
        border-radius: 0.5rem;
        padding: 0.5rem;
        cursor: pointer;
        .icon {
            width: 2rem;
        }
    }
    &__start {
        transform: rotate(-180deg);
    }
    &__list {
        @include flex();
        gap: 1.5rem;
        padding: 0.5em 1.5em;
        border-radius: 0.5rem;
        border: 2px solid $black-color;
        li {
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 600;
            &[data-active="true"] {
                color: $main-color;
            }
        }
    }
}
