.images-show {
    .big {
        img {
            border-radius: 1rem;
        }
    }
    .small {
        @include flex();
        gap: 1.5rem;
        margin-top: 1.5rem;
        .preview[data-active="true"] {
            opacity: 0.7;
        }
        img {
            border-radius: 0.5rem;
        }
    }
}

.product-info {
    .info {
        .title {
            font-size: 1.8rem;
            font-weight: 600;
            margin-top: 0.5em;
        }
        .price {
            color: $main-color;
        }
    }
    .colors-info {
        ul {
            margin-top: 0.2em;
            display: flex;
            gap: 0.5em;
            li {
                position: relative;
                @include size(2rem);
                border-radius: 50%;
                &::after {
                    content: "";
                    @include abs-center();
                    @include size(140%);
                    border: 2px solid $black-color;
                    border-radius: inherit;
                }
                &[data-active="false"]::after {
                    display: none;
                }
            }
        }
    }
    .quantity-info {
        .counter {
            margin-top: 0.5em;
            justify-content: flex-start;
            gap: 1rem;
        }
    }
}
.product-frame {
    .button {
        font-size: 1.8rem;
        margin-top: 1em;
    }
}
