.search-bar {
    max-width: 30rem;
    margin: 0 auto;
    border: 2px solid $black-color;
    border-radius: 0.5rem;
    padding: 0.5em 1em;
    @include flex(center, row);
    input {
        font-size: inherit;
        color: $main-color;
    }
    .icon {
        flex-shrink: 0;
    }
}
