.text-input {
    @include flex();
    gap: 1rem;
    padding: 0.8em 1em;
    border-radius: 1rem;
    margin-top: 1em;
    border: 2px solid $black-color;
    .icon {
        width: 2.4rem;
    }
    input {
        flex-grow: 1;
    }
}
