.notfound-page {
    text-align: center;
    h2 {
        line-height: 1.25;
        font-size: 3rem;
        margin-top: 0.5em;
        font-weight: bold;
    }
    p {
        margin-top: 1em;
    }
    .button {
        margin-top: 1em;
    }
}
