.cart-page {
    .container {
        max-width: 100rem;
    }
    h3 {
        font-size: 2.5rem;
        font-weight: bold;
        font-family: $sub-font;
    }
    .no-item {
        font-size: 2rem;
        text-align: center;
        margin-top: 1em;
        padding: 15vh 0;
        .icon {
            width: 10rem;
            margin-left: auto;
            margin-right: auto;
        }
        .text {
            margin-top: 0.5em;
        }
    }
    .total-row {
        border-top: 1px solid $black-color;
        margin-top: 2em;
        & > div {
            @include flex(space-between, row);
        }
        .header-row {
            font-weight: bold;
        }
        .value-row {
            color: $main-color;
        }
    }
    .btn-panel {
        margin-top: 1em;
        @include flex();
        gap: 1rem;
        .button:nth-child(2) {
            flex-grow: 1;
        }
    }
    .cart__list {
        min-height: 30vh;
    }
    .cart-item {
        position: relative;
        @include flex();
        align-items: stretch;
        gap: 1.5rem;
        margin-top: 2rem;
        &__preview {
            border-radius: 1rem;
            overflow: hidden;
            width: 35%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &__info {
            width: 60%;
            .name {
                white-space: nowrap;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .price {
                font-size: 1.2rem;
            }
            .controller {
                margin-top: 0.5em;
                font-size: 1.2rem;
                display: flex;
                align-items: stretch;
                gap: 1rem;
                & > div {
                    cursor: pointer;
                }
                .color-controller {
                    border: 3px solid rgb(116, 116, 116);
                    border-radius: 0.5rem;
                    width: 3rem;
                }
                .remove-controller {
                    @include flex();
                    background: $main-color;
                    padding: 0 1em;
                    color: $white-color;
                    font-weight: bold;
                    border-radius: 0.5rem;
                }
            }
        }
    }
}

@include responsive($break-point-md) {
    .cart-page {
        .cart__list {
            min-height: 50vh;
        }
        .no-item {
            font-size: 2.5rem;
        }
        .btn-panel {
            gap: 2rem;
            .button:nth-child(2) {
                flex-grow: 6;
            }
            .button:nth-child(1) {
                flex-grow: 1;
            }
        }
    }
}

@include responsive($break-point-lg) {
    .cart-page {
        .cart__list {
            min-height: 80vh;
        }
        .cart-info {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            .cart__list {
                flex: 6;
            }
            .cart-payment {
                position: sticky;
                align-self: flex-start;
                top: 0;
                flex: 3;
            }
        }
    }
}
