.home-page {
    section {
        margin-top: 3rem;
    }
    .hero {
        img {
            border-radius: 1rem;
            margin-top: 1em;
        }
    }
    .follow-section {
        margin-bottom: 3rem;
        .hero__labels {
            display: none;
        }
        .hero__preview {
            @include flex();
        }
        video {
            width: MIN(100%, 50rem);
            border-radius: 1rem;
            margin-top: 1.5em;
        }
    }
}
