.home-page {
    section {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .hero {
        img {
            border-radius: 1rem;
            margin-top: 1em;
            height: 30rem;
        }
    }
    .hero:nth-of-type(2) {
        margin-bottom: 3rem;
        .hero__labels {
            display: none;
        }
        video {
            width: MIN(100%, 50rem);
            border-radius: 1rem;
            margin-top: 1.5em;
        }
    }
}
