.products-page {
    margin: 3rem 0;
    .pagination {
        margin-top: 3rem;
    }
    .top-panel {
        @include flex(space-between, row);
        .button {
            padding: 0.7rem;
            .icon {
                width: 2rem;
            }
        }
    }
}
