.product-detail-page {
    max-width: 100rem;
    .product-blog {
        .title {
            font-family: $sub-font;
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            margin-top: 1em;
        }
        .content {
            .bar {
                margin-top: 0.5rem;
                height: 3px;
                margin-left: auto;
                margin-right: auto;
                background: $black-color;
                border-radius: 0.5rem;
            }
            h3 {
                margin-top: 1em;
                font-weight: bold;
                font-size: 2rem;
            }
            p {
                margin-top: 1em;
                text-align: justify;
            }
        }
        .relative-products {
            .relative__list {
                margin-top: 2rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
                gap: 2rem;
            }
            .title {
                text-align: left;
            }
            .relative__item {
                position: relative;
                img {
                    filter: brightness(0.7);
                    border-radius: 1rem;
                }
                .basic {
                    position: absolute;
                    padding: 1em;
                    bottom: 0;
                    left: 0;
                    color: $white-color;
                    font-size: 2rem;
                    .name {
                        font-weight: bold;
                    }
                    .price {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}

@include responsive($break-point-md) {
    .product-detail-page {
        .product-blog {
            .relative-products {
                .relative__item {
                    .basic {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

@include responsive($break-point-lg) {
    .product-detail-page {
        .product-blog {
            display: flex;
            justify-content: space-between;
            gap: 3rem;
            margin: 5em 0;
            .title {
                font-size: 3.5rem;
            }
            .content {
                width: 65%;
                h3 {
                    font-size: 2.5rem;
                }
            }
            .relative-products {
                width: 30%;
                .title {
                    font-size: 2rem;
                }
                .relative__item {
                    .basic {
                        .name {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}
