.products-page {
    .pagination {
        margin-top: 3rem;
    }
    .top-panel {
        @include flex(space-between, row);
        .filter {
            position: relative;
            &::after {
                @include abs-center(x);
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 5px 6px 5px;
                border-color: transparent transparent $black-color transparent;
            }
        }
        .button {
            padding: 0.7rem;
            .icon {
                width: 2rem;
            }
        }
    }
}
