// ====== Function =========
@mixin flex($justify: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}

@mixin grid-center() {
    display: grid;
    place-items: center;
}

@mixin abs-center($pos: "both") {
    position: absolute;
    @if $pos == "both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @if $pos == "x" {
        left: 50%;
        transform: translateX(-50%);
    }
    @if $pos == "y" {
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

//media controls
//* Desktop First
// @mixin responsive($break-point) {
//     @media (max-width: $break-point) {
//         @content;
//     }
// }
//* Mobile First
@mixin responsive($break-point) {
    @media (min-width: $break-point) {
        @content;
    }
}

//function class

//* Responsive class
.hide {
    display: none;
}
.hide-on-xs {
    @include responsive($break-point-xs) {
        display: none;
    }
}
.hide-on-sm {
    @include responsive($break-point-sm) {
        display: none;
    }
}
.hide-on-md {
    @include responsive($break-point-md) {
        display: none;
    }
}
.hide-on-lg {
    @include responsive($break-point-lg) {
        display: none;
    }
}

.show-on-xs {
    @include responsive($break-point-xs) {
        display: initial;
    }
}
.show-on-sm {
    @include responsive($break-point-sm) {
        display: initial;
    }
}
.show-on-md {
    @include responsive($break-point-md) {
        display: initial;
    }
}
.show-on-lg {
    @include responsive($break-point-lg) {
        display: initial;
    }
}

//* Containers

.wrapper {
    width: MIN(1920px, 100vw);
    margin-left: auto;
    margin-right: auto;
}
//* Desktop First
// .container {
//     width: 80%;
//     margin-left: auto;
//     margin-right: auto;
//     @include responsive($break-point-sm) {
//         width: 90%;
//     }
//     @include responsive($break-point-xs) {
//         width: 100%;
//         padding-left: 2rem;
//         padding-right: 2rem;
//     }
// }
//* Mobile First
.container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    @include responsive($break-point-sm) {
        width: 90%;
    }
    @include responsive($break-point-lg) {
        width: 80%;
    }
}

// Animation delay
@for $i from 0 through 10 {
    .delay-#{$i} {
        animation-delay: #{$i * 100}ms;
    }
}
