//fonts
$main-font: "Poppins";
$sub-font: "Saira";

// Sizes
$s: 1rem;
$s1: 1.5rem;
$s2: 2rem;
$s3: 2.5rem;
$s4: 4rem;
$s5: 7rem;

//Heading
$h1: 7rem;
$h2: 5rem;
$h3: 3.5rem;
$h4: 2.5rem;
$h5: 1.75rem;
$h6: 1rem;

// colors
$main-color: #fd7272;

// monochrome
$light-color: #b8afff;
$dark-color: #373737;

$bg-color: rgb(255, 255, 255);
$text-color: $dark-color;
$black-color: #373737;
$white-color: white;

//variants
$link-color: #18a0fb;

// social color
$facebook: #3b5998;
$twitter: #55acee;
$google: #dc4e41;
$pinterest: #bd081c;

// ====== Break Point ============
$break-point-xs: 480px;
$break-point-sm: 768px;
$break-point-md: 1024px;
$break-point-lg: 1440px;

// ====== Layer ============
$modal-layer: 10;
$float-layer: 5;
$normal-layer: 1;

// ====== timing function =======
$expoIn: cubic-bezier(0.7, 0, 0.84, 0);
$expoOut: cubic-bezier(0.16, 1, 0.3, 1);
$expo: cubic-bezier(0.87, 0, 0.13, 1);

$backIn: cubic-bezier(0.36, 0, 0.66, -0.56);
$backOut: cubic-bezier(0.34, 1.56, 0.64, 1);
$back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
